@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Overpass:wght@400;700&display=swap');

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--White);
    font-family: 'Overpass', sans-serif;
}



.content{
    background-color: var(--VeryDarkBlue);
    height: 100vh;
    padding: 1rem;

    display: grid;
    gap: 1rem;
    place-items: center;
}





/* Comienza Aca */

.box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;

    background-color: var(--DarkBlue);
    max-width: 700px;
    border-radius: 15px;

}

.box p{
    color: var(--LightGrey);
    letter-spacing: 1.5px;
}

.star{
    background-color: var(--VeryDarkBlue);
    width: 50px;
    height: 50px;

    display: grid;
    place-items: center;
    border-radius: 50%;
}

.scale{
    display: flex;
    justify-content: space-around;
}

.number{
    background-color: var(--MediumGrey);
    padding: 1.5rem;
    border-radius: 50%;
    border: 2px solid transparent;

    transition: background-color 0.3s, border 0.3s;
}

.number--active{
    background-color: transparent;
    border: 2px solid var(--Orange);
    color: var(--Orange);
}



.number:hover{
    background-color: transparent;
    border: 2px solid var(--Orange);
    cursor: pointer;
    
}


.btn{
    text-decoration: none;
    border: 2px solid transparent;
    background-color: var(--Orange);
    padding: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 2rem;

}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--Orange);
    cursor: pointer;
}


/* Seguiente Caja */

.result img{
    max-width: 160px;
    display: block;

}

.result{
    text-align: center;
    display: none;
}

/* Boton para volver */

.a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.min--box{
    background-color: var(--Orange);
    padding: 1rem;
    border-radius: 2rem;
}

#numberResponse{
    font-size: 1.8rem;
}

.min--box p{
    color: var(--White);
}


.result--show{
    display: flex;
}

.box--hidden{
    display: none;
}



.btn--return{
    display: flex;
}

